@import './../colors.scss';

.header-container {
  display: flex;
  justify-content: space-between;

  width: 700px;
  margin: 10px auto;
  padding: 20px;

  font-size: 1.2rem;

  background-color: $color-clouds;
  border-radius: 10px;
}

.header-right,
.header-left {
  display: flex;
  align-items: center;
}

.header__contact-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 38px;
  width: 180px;

  font-size: 1.2rem;

  border-radius: 10px;

  transition-property: transform;
  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.1);
    background-color: $color-silver;
  }
}

.header__add-contact-icon {
  height: 25px;
}
